$colorPrimary: rgb(215, 215, 215);
$colorSecondary: rgb(253, 199, 5);
$colorTertiary: rgb(43, 48, 54);
$colorQuaternary: rgb(55, 60, 66);
$colorQuinary: rgb(241, 241, 241);

$fontSize: (
    title: 2.25rem,
    text: 1.125rem
);
